$clr-negro: #000000;
$clr-primario: #D0A354;
$clr-plata: #C5C5C3;
$clr-hombre: #3B4B67;
$clr-mujer: #bd8995;
$font-encabezado: "Noto Serif Display", serif;
$font-body: "Andada Pro", serif;
$espaciado: 60px;