@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&family=Noto+Serif+Display:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_logo {
  margin: 1rem;
  height: 50px;
  border-radius: 0.4em;
}

header .header_carritoIdioma {
  max-width: 1.25rem;
  max-height: 1.25rem;
  background-color: var(--clr-primario);
}

header .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_nav ul {
  list-style: none;
  text-align: center;
  word-spacing: 20px;
}

header .header_nav ul li {
  display: inline-block;
  font-size: 14px;
  position: relative;
}

header .header_nav ul li a {
  color: #D0A354;
  text-decoration: none;
}

header .header_nav ul li a:hover {
  color: #c5c5c3;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  header .header_logo {
    margin: 2rem;
    height: 70px;
  }
  header .header_nav ul {
    word-spacing: 60px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 20px 0px;
}

footer img {
  height: 16px;
  width: 16px;
}

footer a {
  font-size: 10px;
  color: #C5C5C3;
}

footer a h3 {
  text-decoration: underline;
}

footer p {
  color: #C5C5C3;
  font-size: 0.7rem;
}

.footer_btnWsp {
  height: 30px;
  width: 30px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

@media (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0px 20px 0px;
  }
  footer img {
    height: 26px;
    width: 26px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  footer a {
    font-size: 13px;
    color: #C5C5C3;
    text-decoration: none;
  }
  footer p {
    font-size: 1rem;
    margin-top: 20px;
  }
  footer .footer_btnWsp {
    height: 46px;
    width: 46px;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
  }
  footer .horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(grey), color-stop(black), to(black));
  background-image: linear-gradient(to top, grey, black, black);
  color: #D0A354;
  font-family: "Andada Pro", serif;
}

body h1 h2 h3 {
  font-family: "Noto Serif Display", serif;
  color: #D0A354;
}

main section h1 {
  font-size: 20px;
}

main section div p {
  margin-top: 1rem;
  text-transform: none;
}

@media (min-width: 768px) {
  main section h1 {
    font-size: 30px;
  }
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(black));
  background-image: linear-gradient(to top, black, black);
}

body main h1 {
  font-size: 1rem;
  margin: 40px;
}

body main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body main form input {
  margin: 5px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section_titulo {
  font-size: 20px;
}

section div h2 {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
  section .section_titulo {
    font-size: 30px;
  }
  section .section_imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }
  section .section_imagenes::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  section .section_imagenes::-webkit-scrollbar-thumb {
    background: #D0A354;
  }
  section .imgUnisex img {
    width: 50%;
  }
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #C5C5C3;
  border-radius: 5px;
}

.card-section h2 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.card-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-section a {
  width: 70%;
  max-height: 70%;
  max-width: 70%;
}

.card-section a .imgInicio {
  border-radius: 0.35em;
}

.card-section h3 {
  margin: 16px;
  text-transform: uppercase;
}

.card-section p {
  width: 70%;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .card-section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .card-section {
    margin-bottom: 60px;
  }
  .card-section a {
    height: 70%;
    width: 70%;
    margin-left: 100px;
  }
  .card-section a .imgInicio {
    height: 70%;
    width: 70%;
  }
  .card-section div article:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    border: solid #D0A354 1px;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section_titulo {
  font-size: 20px;
}

@media (min-width: 768px) {
  section .section_titulo {
    font-size: 30px;
  }
  section .section_imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .section_imagenes::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  section .section_imagenes::-webkit-scrollbar-thumb {
    background: #D0A354;
    border-radius: 5px;
  }
  section .imgUnisex img {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */